@import 'colors';

button {
	vertical-align: middle;
	
	&:hover {
		cursor: pointer;
	}
}

%btn-standard {
	min-height: 3.2rem;
	min-width: 6rem;
	background-color: $flat-red;
	border-color: $flat-red;
	color: white;
	font-size: 1.2rem;
	font-weight: 600;
	border-radius: 3px;

	&:hover {
		background-color: $medium-red;
		border-color: $medium-red;
	}
}

%btn-cta {
	min-height: 4rem;
	min-width: 12rem;
	background-color: $flat-red;
	border-color: $flat-red;
	color: white;
	border-radius: 5px;
	font-weight: bold;
	font-size: 1.6rem;

	&:hover {
		background-color: $medium-red;
		border-color: $medium-red;
	}
}

%btn-action {
	min-height: 2rem;
	min-width: 10rem;
	background-color: white;
	border-color: $flat-red;
	color: $flat-red;
	border-radius: 2rem;
	font-weight: 600;

	&:hover {
		background-color: $flat-red;
		color: white;
	}
}