/* COLORS TO USE 
https://coolors.co/32213a-80ff72-7ee8fa-ef6b74-fff177
*/

$bright-purple: #7158e2;
$dark-purple: #32213a;
$bright-green: #80ff72;
$bright-blue: #7ee8fa;
$flat-red: #ef6b74;
$flat-yellow: #fff177;

$dark-gray: #aaaaaa;
$light-gray: #F0F0F0;
