@import 'button';

.form-section {
	display: flex;
	flex-direction: column;
}

.form-header {
	justify-self: flex-start;
	margin-bottom: 0.5rem;
}

.form-contents {
	flex: 2;
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
}

.form-buttons {
	display: flex;
	margin: 0.4rem;
}

.form-input__text {
	margin: 0.8rem 0;

	* {
		display: block;
		text-align: left;
		left: 0;
	}

	label {
		margin-bottom: 0.2rem;
	}
}

.form-input__number {
	margin: 0.8rem 0;

	* {
		display: block;
		text-align: left;
		left: 0;
	}

	label {
		margin-bottom: 0.2rem;
	}
}

.form-input__radio {
	* {
		left: 0;
		text-align: left;
		vertical-align: middle;
	}
	
	label {
		&:first-child {
			display: block;
		}

		height: 2rem;
	}
	
	input {
		margin: 0 0.4rem;
	}
	
	.form-input__radio-options {
		padding-left: 1rem;
	}
}

.form-input__button-go-back {
	@extend %btn-secondary;
}

.form-input__button-skip {
	@extend %btn-secondary;
}

.form-input__button-save-continue {
	@extend %btn-standard;
	margin-left: 0.4rem;
}

.form-input__button-save-continue--disabled {
	@extend %btn-disabled;
	margin-left: 0.4rem;
}

.form-input__text input, .form-input__text label, .form-input__number input,
.form-input__number label, .form-input__radio {
	width: 25rem;
	margin: 0.2rem auto;
}