@import 'colors';

input[type="text"], input[type="number"] {
	height: 3.2rem;
	vertical-align: middle;
	padding: 0;
	border: 1px solid $dark-gray;
	border-radius: 3px;
	line-height: 1.6rem;
	font-size: 1.4rem;
	text-indent: 0.5rem;
	margin: 8px 2px;
}