@import 'colors';

%spinner {
	will-change: transform;
	border: 2px solid lightgray;
	border-bottom: 4px solid $flat-red;
	border-radius: 50%;
	animation: 2s linear infinite spinner;
}

%spinner-small {
 	@extend %spinner;
 	height: 2rem;
 	width: 2rem;
}

%spinner-large {
	@extend %spinner;
	height: 5rem;
	width: 5rem;
}

@keyframes spinner {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}