@import 'spinner';

.App {
  height: 100%;
  font-size: 1.6rem;
  text-align: center;
}

.main {
	display: flex;
	min-height: calc(100vh - 70px);
	align-items: stretch;
}

.loading-spinner {
	@extend %spinner-large;
	position: absolute;
	left: 50%;
	top: 50%;
}

.flex-container-centered {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.flex-centered {
	justify-content: center;
}

.auto-margin-right {
	margin-right: auto;
}