@import 'colors';
@import 'card';

//TODO: Refactor header stuff to mixin;
.calendar-container {
	font-family: 'Raleway', sans-serif;
	position: relative;
	display: flex;
	height: 770px;
	width: 80%;
	margin: 3rem;
}

.calendar {
	@extend %card;
	position: relative;
	display: flex;
	flex-direction: column;
	width: 60%;
	margin-right: 10px;
}

.details-container {
	@extend %card;
	position: relative;
	display: flex;
	box-sizing: border-box;
	width: 40%;
}

.calendar-header {
	position: relative;
	color: white;
	width: 100%;
	height: 70px;
	box-sizing: border-box;
	background-color: $flat-red;
	border-bottom: 1px solid;

}

.header-month {
	display: flex;
	font-size: 1.5em;
	height: 1.5em;
	font-weight: 500;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid lightgray;

	.icon:first-of-type {
	 	position: absolute;
	 	left: 0;
	}

	.icon:last-of-type {
		position: absolute;
		right: 0;
	}
}

.header-days {
	display: flex;
	height: 2em;
	align-items: flex-end;
	flex-direction: row;
	justify-content: space-between;
}

.day-label {
	display: flex;
	flex: 1;
	align-items: flex-end;
	justify-content: center;
}

.days-row {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid $dark-gray;
	height: 16.5%;
}

.days-grid {
	height: 90%;
}

.days-grid .days-row:last-child {
	border-bottom: none;
}

.days-grid .days-row .day-cell:last-child {
	border-right: none;
}

.day-cell {
	flex: 1;
	position: relative;
	border-right: 1px solid $dark-gray;

	span {
		position: absolute;
		font-size: .75em;
		right: 0;
		margin: 2px;		
	}
}

.disabled {
	color: $dark-gray;
}

.day-banner {
	transition: background-color 0.25s;
}

%logged-icon {
	display: inline-block;
	float: left;
	height: 10px;
	width: 10px;
	margin: 5px 2px;
	border-radius: 1em;
}

.diet-logged-icon {
	@extend %logged-icon;
	background-color: $bright-green;
}

.workout-logged-icon {
	@extend %logged-icon;
	background-color: $bright-purple;
}

.selected .day-banner {
	background-color: $flat-red;
	height: 1.2em;
	color: white;
}

.calendar-icon {
	color: white;
}

.details-header {
	background-color: $flat-red;
	color: white;
	height: 3.6rem;
	font-size: 2.4rem;
	line-height: 3.6rem;
	width: 100%;
}

@media (max-width: 980px) {
	.calendar-container {
		flex-direction: column;
		height: 1000px;
	}

	.calendar {
		width: 100%;
		height: 70%;
		margin-right: 0px;
		margin-bottom: 10px;
		border-bottom: 1px solid lightgray;
	}

	.details-container {
		width: 100%;
		height: 30%;
	}
}