/* COLORS TO USE 
https://coolors.co/32213a-80ff72-7ee8fa-ef6b74-fff177
*/

.calendar-container {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
	position: relative;
	display: flex;
	height: 770px;
	width: 80%;
	top: 50px;
	left: 10%;	
}

.calendar {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 10px;
	box-shadow: 0px 0px 10px 2px #bbbbbb;
}

.details-container {
	position: relative;
	display: flex;
	box-sizing: border-box;
	width: 40%;
	box-shadow: 0px 0px 10px 2px #bbbbbb;
	margin: 10px;
}

.header {
	position: relative;
	color: white;
	width: 100%;
	height: 70px;
	box-sizing: border-box;
	background-color: #ef6b74;
	border-bottom: 1px solid #;

}

.header-month {
	display: flex;
	font-size: 1.5em;
	height: 1.5em;
	font-weight: 500;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid lightgray;
}

.header-days {
	display: flex;
	height: 2em;
	align-items: flex-end;
	flex-direction: row;
	justify-content: space-between;
}

.day-label {
	display: flex;
	flex: 1;
	align-items: flex-end;
	justify-content: center;
}

.icon {
  	font-family: 'Material Icons', serif;
 	cursor: pointer;
 	user-select: none;
}

.icon:first-of-type {
 	position: absolute;
 	left: 0;
}

.icon:last-of-type {
	position: absolute;
	right: 0;
}

.days-row {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #aaaaaa;
	height: 16.5%;
}

.days-grid {
	height: 90%;
}

.days-grid .days-row:last-child {
	border-bottom: none;
}

.days-grid .days-row .day-cell:last-child {
	border-right: none;
}

.day-cell {
	flex: 1;
	position: relative;
	border-right: 1px solid #aaaaaa;
}

.day-cell span {
	position: absolute;
	font-size: .75em;
	right: 0;
	margin: 2px;
}

.disabled {
	color: lightgray;
}

.day-banner {
	transition: background-color 0.25s;
}

.diet-logged-icon {
	position: absolute;
	height: 10px;
	width: 10px;
	margin: 5px;
	border-radius: 1em;
	background-color: #80ff72;
}

.selected .day-banner {
	background-color: #7158e2;
	height: 1.10em;
	color: white;
}

@media (max-width: 980px) {
	.calendar-container {
		flex-direction: column;
		height: 1000px;
	}

	.calendar {
		width: 100%;
		height: 70%;
		border-bottom: 1px solid lightgray;
	}

	.details-container {
		width: 100%;
		height: 30%;
	}
}