@import 'colors';

//TODO: Refactor to mixin;
//TODO: Create table-row mixin;

.daily-journal {
	width: 100%;
}

.journal-container {
	padding: 1.5rem 1.5rem 0 1.5rem;
}

.nutrition-journal-container {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}

.nutrition-journal {
	flex: 0 1 70%;
	background-color: white;
	box-shadow: 0px 0px 10px 2px $light-gray;
}

.journal-header {
	position: relative;
	display: flex;
	justify-content: center;
	color: white;
	height: 36px;
	width: 70%;
	box-sizing: border-box;
	background-color: $flat-red;

	.icon.calendar-icon {
		position: absolute;
		top: 5px;
		right: 5px;
		font-size: 24px;
		width: 24px;
	}
}

.header-date {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 45%;

	.icon {
	  	font-family: 'Material Icons', serif;
	  	position: relative;
	 	cursor: pointer;
	 	font-size: 24px;
	 	user-select: none;
	}
}

.journal-meals {
	display: flex;
	flex-direction: column;
}

.journal-values {
	display: flex;
	flex-direction: column;
	margin: 0 5px;
}

.meal {
	margin: 5px;
	display: flex;
	flex-wrap: wrap;

	.meal-header {
		flex: 1 1 100%;
		display: flex;
		margin: 2px 5px;
	}

	.meal-name {
		margin-left: 10px;
		text-align: start;
		font-weight: bold;
		flex: 0 1 40%;
	}

	.meal-labels {
		display: flex;
		justify-content: space-between;
		flex: 1 1;
		margin-right: 12px;
	}

	.meal-labels * {
		flex: 1;
	}

	.meal-contents {
		flex: 1;
		border: 1px solid $flat-red;
		border-radius: 2px;
		margin: 0 5px;
		padding: 2px 0;
		overflow: auto;

		.meal-footer {
			display: flex;			
		}

		.meal-actions {
			margin-left: 10px;
			flex: 1 0 40%;
		}

		button {
			float: left;
			margin-left: 5px;
		}
	}
}

.meal-logged-total {
	margin-right: 10px;
	flex: 1 1 60%;
	display: flex;
	color: $bright-purple;
}

.daily-details {
	flex: 0 1 30%;
}

.meal-item {
	display: flex;
	justify-content: space-between;

	.meal-item-name {
		display: flex;
		flex: 1 0 40%;
		margin-left: 10px;
	}
	
	.meal-item-values {
		display: flex;
		margin-right: 10px;
		justify-content: space-between;
		flex: 1 1 60%;
	}
	
	.meal-item-values * {
		width: 100%;
	}

	.nutrition {
		margin-right: 16px;
		display: flex;
		justify-content: space-between;
		flex: 2;
	}
}

.logged-nutrients-total {
	display: flex;
	flex: 1;
	justify-content: space-between;

	* {
		width: 100%;
	}
}

.journal-footer-row {
	display: flex;
	margin: 0 5px;
}

.values-label {
	flex: 1 0 40%;
	margin-left: 10px;
}

.journal-nutrients-values {
	flex: 1 1 60%;
	margin-right: 10px;
	* {
		width: 100%;
	}
}

.logged-nutrients {
	flex: 1 1 50%;
	display: flex;
	justify-content: space-between;
}

.food-details {
	margin-left: 10px;
	margin-bottom: 10px;
	height: 385px;
	background-color: white;
	box-shadow: 0px 0px 10px 2px $light-gray;
}

.food-details-header {
	height: 32px;
	font-size: 24px;
	color: $flat-red;
	display: flex;
	justify-content: center;
	align-items: center;
}

.water-tracker {
	height: 165px;
	background-color: white;
	box-shadow: 0px 0px 10px 2px $light-gray;
	margin-left: 10px;
}

.journal-additional-actions {
	flex: 1;
	min-height: 120px;
	margin-top: 10px;
	background-color: white;
	box-shadow: 0px 0px 10px 2px $light-gray;
}

@media all and (max-width: 1100px) {
	.nutrition-journal {
		flex: 0 1 100%;
		padding-bottom: 10px;
	}
	
	.journal-header {
		width: 100%;
	}
	
	.daily-details {
		display: flex;
		flex: 0 1 100%;
		margin-top: 10px;
	}

	.food-details {
		flex: 1 1 50%;
		margin-left: 0;
	}

	.water-tracker {
		flex: 1 1 50%;
		margin-left: 10px;
	}

	.journal-additional-actions {
		margin-top: 0;
	}
}