@import 'colors';
@import 'card';
@import 'button';
@import 'table';

.daily-journal {
	width: 100%;
}

.journal-container {
	padding: 1.5rem 1.5rem 0 1.5rem;
}

.nutrition-journal-container {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}

.nutrition-logger {
	@extend %card;
	flex: 0 1 70%;
}

.journal-header {
	position: relative;
	display: flex;
	justify-content: center;
	color: white;
	height: 36px;
	box-sizing: border-box;
	background-color: $flat-red;

	.icon.calendar-icon {
		position: absolute;
		top: 5px;
		right: 5px;
		font-size: 24px;
		width: 24px;
	}
}

.header-date {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 45%;

	.icon {
	  	font-family: 'Material Icons', serif;
	  	position: relative;
	 	cursor: pointer;
	 	font-size: 24px;
	 	user-select: none;
	}
}

.journal-meals {
	display: flex;
	flex-direction: column;
}

.journal-values {
	display: flex;
	flex-direction: column;
	margin: 0 5px;
}

.meal {
	@extend %table;

	.meal-header {
		@extend %table-header;
	}

	.meal-name {
		@extend %row-primary;
		text-align: start;
		font-weight: bold;
	}

	.meal-labels {
		@extend %row-secondary;
	}

	.meal-labels * {
		flex: 1;
	}

	.meal-contents {
		flex: 1;
		border: 1px solid $flat-red;
		border-radius: 2px;
		margin: 0 5px;
		padding: 2px 0;
		overflow: auto;

		.meal-footer {
			display: flex;			
		}

		.meal-actions {
			@extend %row-primary;
		}

		button {
			@extend %btn-action;
			float: left;
			margin-left: 5px;
		}
	}
}

.meal-logged-total {
	@extend %row-secondary;
	color: $bright-purple;
}

.daily-details {
	flex: 0 1 30%;
}

.meal-item {
	display: flex;
	justify-content: space-between;

	.meal-item-name {
		@extend %row-primary;
		text-align: left;
	}
	
	.meal-item-values {
		@extend %row-secondary;
	}
	
	.meal-item-values * {
		flex: 1;
	}

	.nutrition {
		margin-right: 16px;
		display: flex;
		justify-content: space-between;
		flex: 2;
	}
}

.logged-nutrients-total {
	@extend %row-secondary-items;

	* {
		width: 100%;
	}
}

.computed-nutrients {
	display: flex;
	margin: 0 5px;
}

.values-label {
	@extend %row-primary;
}

.nutrient-values {
	@extend %row-secondary;
	* {
		width: 100%;
	}
}

.food-details {
	@extend %card;
	margin-left: 10px;
	margin-bottom: 10px;
	height: 385px;
}

#find-food-btn, #log-food-btn {
	@extend %btn-standard;
}

.food-details-header {
	height: 32px;
	font-size: 24px;
	color: $flat-red;
	display: flex;
	justify-content: center;
	align-items: center;
}

.water-tracker {
	@extend %card;
	height: 165px;
	margin-left: 10px;
}

.journal-additional-actions {
	@extend %card;
	flex: 1;
	min-height: 120px;
	margin-top: 10px;
}

@media all and (max-width: 1100px) {
	.nutrition-logger {
		flex: 0 1 100%;
		padding-bottom: 10px;
	}
	
	.journal-header {
		width: 100%;
	}
	
	.daily-details {
		display: flex;
		flex: 0 1 100%;
		margin-top: 10px;
	}

	.food-details {
		flex: 1 1 50%;
		margin-left: 0;
	}

	.water-tracker {
		flex: 1 1 50%;
		margin-left: 10px;
	}

	.journal-additional-actions {
		margin-top: 0;
	}
}