@import 'colors';


//TODO: Refactor to mixin;
.daily-journal {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 745px;
	height: 575px;
	background-color: white;
	box-shadow: 0px 0px 10px 2px $light-gray;
}

.journal-header {
	position: relative;
	display: flex;
	justify-content: center;
	color: white;
	width: 100%;
	height: 36px;
	box-sizing: border-box;
	background-color: $flat-red;
	border-bottom: 1px solid;

	.icon.calendar-icon {
		position: absolute;
		top: 5px;
		right: 5px;
		font-size: 24px;
		width: 24px;
	}
}

.header-date {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 45%;

	.icon {
	  	font-family: 'Material Icons', serif;
	  	position: relative;
	 	cursor: pointer;
	 	font-size: 24px;
	 	user-select: none;
	}
}

.journal-meals {
	display: flex;
	flex-direction: column;
}

.journal-values {
	display: flex;
	flex-direction: column;
	margin-left: 16px;
	margin-right: 16px;
}

.journal-values div {
	display: flex;
	flex: 1;
}

.values-label {
	flex: 1;
}

.journal-values div div {
	display: flex;
	justify-content: space-between;
}

.meal {
	margin: 5px;

	.meal-header {
		display: flex;
		justify-content: space-between;
	}

	.meal-name {
		text-align: start;
		margin-left: 16px;
		font-weight: bold;
		flex: 1;
	}

	.meal-labels {
		display: flex;
		justify-content: space-between;
		flex: 1;
	}

	.meal-contents {	
		border: 1px solid $flat-red;
		border-radius: 2px;
		margin-left: 5px;
		margin-right: 5px;
		overflow: auto;

		.meal-footer {
			display: flex;			
		}

		.meal-actions {
			flex: 1;
		}
		button {
			float: left;
			margin-left: 5px;
		}
	}
}

.meal-item {
	display: flex;
	justify-content: space-between;
	.name {
		display: flex;
		flex: 2;
		align-items: left;
		padding-left: 16px;
	}

	.servings {
		flex: 2;
	}

	.nutrition {
		margin-right: 16px;
		display: flex;
		justify-content: space-between;
		flex: 2;
	}
}

.logged-values {
	display: flex;
	flex: 1;
	justify-content: space-between;
	margin-right: 16px;
}