@import 'colors';


//TODO: Refactor to mixin;
.daily-journal {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 745px;
	height: 575px;
	background-color: white;
	box-shadow: 0px 0px 10px 2px $light-gray;
}

.journal-header {
	position: relative;
	display: flex;
	justify-content: center;
	color: white;
	width: 100%;
	height: 36px;
	box-sizing: border-box;
	background-color: $flat-red;
	border-bottom: 1px solid;

	.icon.calendar-icon {
		position: absolute;
		top: 5px;
		right: 5px;
		font-size: 24px;
		width: 24px;
	}
}

.header-date {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 45%;

	.icon {
	  	font-family: 'Material Icons', serif;
	  	position: relative;
	 	cursor: pointer;
	 	font-size: 24px;
	 	user-select: none;
	}
}

