@import 'colors';

.header {
	display: flex;
	height: 70px;
	justify-content: center;
	background-color: $flat-red;
}

.header-content {
	position: relative;
	width: 1366px;
	border: 1px solid black;
	
	* {
		text-decoration: none;
		color: white;
	}
}

.nav-items {
	list-style-type: none;
}

#app-icon {
	position: absolute;
	display: flex;
	align-items: center;
	left: 5px;
	font-size: 3rem;
	color: white;
}