@import 'colors';

.header {
	display: flex;
	height: 70px;
	justify-content: center;
	background-color: $flat-red;
}

.header-content {
	display: flex;
	align-items: center;
	width: 1366px;
	border: 1px solid black;
	
	* {
		text-decoration: none;
		color: white;
	}
}

.nav-items {
	list-style-type: none;
	padding: 0;
	flex: 1;

	> li {
		margin: 1.5rem;
		display: inline-block;

		:hover {
			text-decoration: underline;
		}
	}
}

#app-icon {
	margin-left: 2rem;
	font-size: 3rem;
	color: white;
}