@import 'colors';

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(170, 170, 170, 0.8);
	z-index: 2;
}

.modal-content {
	height: 50vh;
	width: 75vw;
	overflow: scroll;
	background-color: white;
}