@import 'colors';

.tab-header {
	display: flex;
}

.tab {
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	padding: 0 5px;
	border: 1px solid $flat-red;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: white;
	color: $flat-red;
	cursor: pointer;
}

.tab.active {
	background-color: $flat-red;
	border-color: $flat-red;
	border-type: solid;
	border-width: 1px 1px 0 1px;
	color: white;
	font-weight: bold;
}