@import 'colors';

.workout-log-container {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}

.workout-log {
	flex: 0 1 70%;
	height: 538px;
	background-color: white;
	box-shadow: 0px 0px 10px 2px $light-gray;
}

.new-exercise-hero {
	position: relative;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -25%);
	width: 100%;
}

@media all and (max-width: 1100px) {
	.workout-log {
		flex: 0 1 100%;
		padding-bottom: 10px;
	}
}