@import 'colors';
@import 'card';

.workout-log-container {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}

.exercise-logger {
	@extend %card;
	flex: 0 1 70%;
}

.workout-log {
	height: 538px;
}

.new-exercise-hero {
	position: relative;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -25%);
	width: 100%;
}

@media all and (max-width: 1100px) {
	.exercise-logger {
		flex: 0 1 100%;
		padding-bottom: 10px;
	}
}